gemini2_0_cv.json
{
  "name": "gemini2.0-cv",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "readStatus": "unread"
        },
        "options": {
          "dataPropertyAttachmentsPrefixName": "CV",
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        -20
      ],
      "id": "7eeb427a-32fd-41a7-b395-41855dec58c6",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "j64kqY3d6SAv1Ywq",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "inputDataFieldName": "CV0",
        "name": "={{ $json.from.value[0].name}}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1spqGbbD3FhmRUllm10jcDYC0j7ze_Jgg",
          "mode": "list",
          "cachedResultName": "CV Upload",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1spqGbbD3FhmRUllm10jcDYC0j7ze_Jgg"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        220,
        0
      ],
      "id": "0c760703-049f-406f-a273-c53de87845ef",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "obhhh6DtFtejCmQ7",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        440,
        0
      ],
      "id": "854dd419-4d45-40cf-b37e-e8a77b8518be",
      "name": "Google Drive1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "obhhh6DtFtejCmQ7",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        660,
        0
      ],
      "id": "3a5e5596-f3c3-4e4f-8ce6-2ffc01535965",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "schemaType": "fromJson",
        "jsonSchemaExample": "{\n   \"candidate_name\": \"Ad Soyad\",\n   \"email_address\": \"email@example.com\",\n   \"contact_number\": \"+90 555 123 45 67\"\n}",
        "options": {
          "systemPromptTemplate": "You are an expert extraction algorithm.\nOnly extract relevant information from the text.\nIf you do not know the value of an attribute asked to extract, you may omit the attribute's value."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1,
      "position": [
        880,
        -100
      ],
      "id": "036b495b-a0df-495e-afb7-fd5d1de33d71",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        760,
        -180
      ],
      "id": "f5bdd2fd-4251-42e7-bde5-2ff3ac0825c2",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "kpB1TgIsXwrLQHzY",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1480,
        20
      ],
      "id": "b5e1f8b1-cebf-461e-900e-d50c815007dc",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "10wltH7SYDcp8PR82yuWDaQZjAcwJxgI00JmBOsjfsdU",
          "mode": "list",
          "cachedResultName": "CVLER",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10wltH7SYDcp8PR82yuWDaQZjAcwJxgI00JmBOsjfsdU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sayfa1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10wltH7SYDcp8PR82yuWDaQZjAcwJxgI00JmBOsjfsdU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name Surname": "={{ $json.candidate_name }}",
            "Mail Address": "={{ $json.email_address }}",
            "Contact Number": "='{{ $json.contact_number }}",
            " Summary": "={{ $json.summary }}",
            "Critical Gaps": "={{ $json.critical_gaps }}",
            "Strengths": "={{ $json.strengths }}",
            "Score": "={{ $json.converted_score }}",
            "Hire Recommendation": "={{ $json.hire_recommendation }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name Surname",
              "displayName": "Name Surname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Mail Address",
              "displayName": "Mail Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Contact Number",
              "displayName": "Contact Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": " Summary",
              "displayName": " Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Strengths",
              "displayName": "Strengths",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Critical Gaps",
              "displayName": "Critical Gaps",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Score",
              "displayName": "Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Hire Recommendation",
              "displayName": "Hire Recommendation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1720,
        20
      ],
      "id": "72502478-b2d3-4ffc-8b8f-38647892d906",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FQu6ow1XXyjyqB7k",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c32f712a-9dd2-421d-90de-9c35b5ec947f",
              "name": "candidate_name",
              "value": "={{ $json.output.candidate_name }}",
              "type": "string"
            },
            {
              "id": "a190fedd-f779-441b-953f-67be053105cd",
              "name": "email_address",
              "value": "={{ $json.output.email_address }}",
              "type": "string"
            },
            {
              "id": "c4c8c8d4-866d-4a7e-b0ed-fe2eae7ee6f4",
              "name": "contact_number",
              "value": "={{ $json.output.contact_number }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1220,
        -100
      ],
      "id": "8f5fd1d0-bac5-4d42-a8e6-71a31b5dc029",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-thinking-exp-01-21",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        880,
        280
      ],
      "id": "e2f3caff-d607-41bd-86b6-645c74a2230a",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "EUZCrPWrVgWY2dnY",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"summary\": \"<Summary text here>\",\n  \"strengths\": \"<Strengths text here>\",\n  \"critical_gaps\": \"<Critical Gaps text here>\",\n  \"score\": \"<Raw Score>\",\n  \"converted_score\": \"<Converted Score>\",\n  \"hire_recommendation\": \"<Accept/Reject>\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        1060,
        280
      ],
      "id": "9af84402-8090-466f-831d-92fe3fe45496",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e900eeb7-63e4-4a8e-aa7c-aec69250fd40",
              "name": "summary",
              "value": "={{ $json.output.summary }}",
              "type": "string"
            },
            {
              "id": "5d907905-6bbe-4c34-8472-5433673829e4",
              "name": "strengths",
              "value": "={{ $json.output.strengths }}",
              "type": "string"
            },
            {
              "id": "637046d6-8022-4085-bc29-a9d605ce6497",
              "name": "critical_gaps",
              "value": "={{ $json.output.critical_gaps }}",
              "type": "string"
            },
            {
              "id": "46a03a41-3f28-4163-aaae-873a8125e20c",
              "name": "score",
              "value": "={{ $json.output.score }}",
              "type": "string"
            },
            {
              "id": "2fd84be9-b66d-4fec-a493-650fdeefe3b4",
              "name": "converted_score",
              "value": "={{ $json.output.converted_score }}",
              "type": "string"
            },
            {
              "id": "f633650e-d694-4a14-8f98-f3b7f227d67e",
              "name": "hire_recommendation",
              "value": "={{ $json.output.hire_recommendation }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1220,
        100
      ],
      "id": "952214b6-52fc-446f-a5c5-4153b904c3f3",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "content": "## Gmail Trigger Node\nThis node checks mail once a minute. Every mail containing the word 'CV' can be received in this way.",
        "height": 140,
        "width": 280
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -160,
        180
      ],
      "id": "56b16eea-7d9c-4d53-9a0a-4aafad80af83",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Drive Upload Node \nHere, the CV file received via e-mail is transferred to Google Drive. ",
        "width": 220,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        160,
        180
      ],
      "id": "32df74fe-375a-4546-976b-3ba18e0a65ef",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Drive Download Node \nWith this node we download the CV file to the workflow.",
        "width": 220,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        380,
        -180
      ],
      "id": "7a562f89-620b-4a99-b301-73858c70ff6a",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Extracting information\n We extract information from the node CV file.",
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        520,
        180
      ],
      "id": "f41b304f-4d96-4cfc-9e0c-3079c64789e8",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## CV Evaluation Node\n In this node, the competencies of our candidate for the role he/she specified are checked. While doing this, many variables such as where he / she was educated, projects he / she has done, places he / she has worked, certificates he / she has received are evaluated. As a result, summary information about the candidate, his/her strengths, shortcomings, score and recruitment recommendation are presented. The Gemini 2.0 Flash Thinking Experimental 01-21 model takes on this task. The output from the model is then decomposed accordingly.",
        "height": 280,
        "width": 380,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        820,
        420
      ],
      "id": "142dd5f4-ab8f-4d29-a173-1b11645c7bd9",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Editing Data\nIn this section we edit the incoming data",
        "height": 120,
        "width": 260,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1220,
        260
      ],
      "id": "101c7259-0422-45be-b063-b79776dd860c",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Merge Data \nBefore uploading to Google Sheets, we merge the data.",
        "height": 120,
        "width": 260,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1420,
        -120
      ],
      "id": "b419284d-49bc-435c-8f18-6d6752ca3d87",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Upload to Sheets\n In the last step we upload the information.",
        "height": 120,
        "width": 260,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1640,
        180
      ],
      "id": "7447cfe4-9a87-417d-a41d-402c1a9da506",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## Extracting Contact Information\n This node extracts the candidate's name, surname, e-mail address and phone number from the information extracted from the CV. GPT 3.5 Turbo takes care of this task",
        "height": 240,
        "width": 260,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        900,
        -380
      ],
      "id": "c1a7b898-01fc-465c-ae30-94c73d5cfb92",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=CV:{{ $json.text }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "Role: You are the world's most rigorous and detail-oriented technical recruiter. You have been hiring software developers for top-tier teams at Google, Amazon, and NASA for 20 years. You never compromise and tolerate no mistakes. **IMPORTANT NOTE:** Following the instructions below, **produce output only and exactly in the specified JSON format.** Do not add any other text or explanations. Your output **must be solely** a JSON object.  Step 1: Understand the Candidate Profile Extract the following information from the candidate's CV based on the role specified by the candidate:  Years of experience: Relevant experience in the role. Technologies and tools: List the technologies used with proficiency levels (expert, proficient, basic). Project complexity: Consider user base size and technical depth. Certifications, education, and specialized training: Include relevant credentials. Skill gaps: Note any clear missing skills required for the role (e.g., \"No cloud knowledge\", \"No microservices experience\"). Step 2: Compare with Ideal Profiles Based on the role provided in the CV, evaluate the candidate against the following reference profiles:  10/10 Ideal Candidate:  7+ years of relevant experience with enterprise-level projects. Deep expertise in key technologies and frameworks required for the role. Projects with large or medium user bases or significant technical complexity. Strong certifications, relevant education, and proven contributions (e.g., open-source). 7/10 Candidate:  3-7 years of experience with mid-scale projects. Adequate understanding of key technologies (basic to intermediate level). Projects with a moderate user base or technical complexity. Some relevant certifications or education, but lacking in some ideal areas. 3/10 Candidate:  Minimal experience (e.g., internship or tutorial-level projects). Limited technical skills and understanding of the required technologies. Projects of low complexity with minimal impact. Lacks significant certifications or formal education related to the role. Step 3: Critical Evaluation Criteria Rate each criterion on a scale of 0-3 (3 = ideal, 0 = none):  Core Skills: Fundamental programming, algorithms, and data structures. Technical Frameworks/Tools: Proficiency in essential frameworks, libraries, or tools. Cloud/DevOps (if applicable): Experience with cloud platforms, CI/CD, containerization, etc. Databases and Data Management: Knowledge of SQL/NoSQL databases, data modeling, etc. System Architecture: Ability to design scalable, maintainable systems (e.g., microservices, RESTful APIs). Soft Skills: Communication, teamwork, leadership, and adaptability. Step 4: Scoring and Result  Sum the scores for all criteria (maximum total score is 18 points). Convert the total score to a 10-point scale using: 𝐶 𝑜 𝑛 𝑣 𝑒 𝑟 𝑡 𝑒 𝑑 𝑆 𝑐 𝑜 𝑟 𝑒 = ( 𝑇 𝑜 𝑡 𝑎 𝑙 𝑆 𝑐 𝑜 𝑟 𝑒 / 18 ) ∗ 10 ConvertedScore=(TotalScore/18)∗10 Use the following scale: 9-10 → 10/10 Ideal candidate 6-8.9 → 7/10 Mid-level 0-5.9 → 3/10 Weak Step 5: Generate Report - IMPORTANT: OUTPUT ONLY AND EXACTLY IN THE JSON FORMAT BELOW. DO NOT ADD ANYTHING ELSE: {\n  \"summary\": \"<Summary text here>\",\n  \"strengths\": \"<Strengths text here>\",\n  \"critical_gaps\": \"<Critical Gaps text here>\",\n  \"score\": \"<Raw Score>\",\n  \"converted_score\": \"<Converted Score>\",\n  \"hire_recommendation\": \"<Accept/Reject>\"\n} Example Output: {   \"summary\": \"The candidate demonstrates a solid background in software development with moderate experience in handling mid-scale projects.\",   \"strengths\": \"Strong foundational programming skills and familiarity with key frameworks.\",   \"critical_gaps\": \"Limited exposure to cloud platforms and advanced system architecture design.\",   \"score\": \"7.0\",   \"converted_score\": \"7.0\",   \"hire_recommendation\": \"Accept with reservations\" }"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        880,
        100
      ],
      "id": "23334d3d-d2ee-4aec-861a-51314a8ef56d",
      "name": "CV Evaluation"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive1": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          },
          {
            "node": "CV Evaluation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "CV Evaluation",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "CV Evaluation",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "CV Evaluation": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8ae182e9-eb56-4968-b2e4-77b08a5cd310",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "aba595f4147edcc21e730b4a92eec79cdb48afb2bbe84dc667f14306f564ce9e"
  },
  "id": "pKe3ZZzU6n859cRY",
  "tags": []
}